[unittest]
TestPixCorrectIm = True
TestDrivers = True

[modules]
# test.py will only find this if pixcorrect is in PYTHONPATH
pixcorrect.dbc = True

[docs]
doctests/test_nullop.txt = True
doctests/test_nullop_im.txt = True
doctests/test_bias_correct.txt = True
doctests/test_gain_correct.txt = True
doctests/test_flat_correct.txt = True
doctests/test_apply_bpm.txt = True
doctests/test_override_bpm.txt = True
doctests/test_fix_cols.txt = True
doctests/test_mask_saturation.txt = True
